:root {
    --backgroundBody: #f7f4ec;
    --buttonColor: #F33535;
    --buttonTextColor: white;
    --main-font: "EB garamond", bold, sans-serif;
    --secondary-font: "EB garamond", regular, sans-serif;
}