* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background-color: var(--backgroundBody);
}

h1 {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-family: var(--main-font);
    font-weight: bold;
}

h3 {
    font-family: var(--secondary-font);
    font-size: larger;
}

nav a {
    font-size: larger;
}
p{
    font-family: var(--paragraph-font);
    font-weight: large;
}
/* ----------------------------------------------------Header ------------------------------------------------------ */

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--backgroundBody);
    border-bottom: 1px solid black;
}

header h1{
    font-size: 56px;
    margin-top: -27px;
    margin-bottom: -27px
    
}

#logobar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 3em;
}

#viteuf_logo{
    width: 8em;
    margin-right: 14em;
}

header hr {
    width: 90%;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}
/* ---------------------------------burger menu ------------------- */
.burger_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--buttonColor);
    padding: 11px 20px;
    border-radius: 50%;
}

.menu-toggle {
    font-size: 24px;
    color: black;
    cursor: pointer;
    display: none;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: var(--backgroundBody);
    font-size: 18px;
    font-family: --paragraph-font;
}

main #h1_anti-gaspi {
    color: var(--buttonTextColor);
    width: auto;
    text-decoration: none;
    margin: auto;
}

main #anti-gaspi_main_pic {
    display: flex;
    background-image: url('img/image_anti_gaspi.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    width: 100%;
    height: 60vh;
    background-blend-mode: darken;
}

main #anti-gaspi_receipes_selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 70px;
    justify-content: center;
    width: 100%;
    padding: 70px 0px 70px 0px;
}

main #anti-gaspi_receipes_selection a {
    display: flex;    
    justify-content: center;
}

main #anti-gaspi_receipes_selection button {
    height: 100%;
    width: 70%;
    margin: auto;
    border-radius: 40px;
    background-color: var(--buttonColor);
    transition: transform 0.3s ease-in-out;
}

main #anti-gaspi_receipes_selection button:hover {
    transform: scale(1.1);
}

main #anti-gaspi_receipes_selection h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--buttonTextColor);
    padding-top: 20px;
}

main #anti-gaspi_receipes_selection img {
    border-radius: 20px;
    height: 70%;
    width: 90%;

}

/* footer */

footer {
    background-color: var(--buttonColor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding-top: 60px;
    padding-bottom: 5px;
    font-family: var(--secondary-font);
    height: 40vh;
}

footer a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_links_footer {
    padding: 50px 0px 60px 50px;
    line-height: 1.8rem;
    font-size: 1.2rem;
} 

.nav_links_footer li:hover{
    font-weight: bold;
}

.links_social_networks {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 15px;
}

.links_social_networks a {
    height: 50px;
    width: 50px;
}

.social_logo:hover {
    transform: scale(1.1);
}

footer p {
    grid-column: 1/4;
    text-align: center;
    margin: auto;
}

#logo_copyright {
    width: 1.5em;
    padding: 0px 5px;
}

footer h1 {
    padding-left: 3em
}