/* ----------------------------------------------------Header Yakup ------------------------------ */

header h1{
    font-weight: bold;
    font-size: 56px;
    font-family: var(--main-font);
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 3em;
}

header hr {
    width: 90%;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 1em 0;
}

/* ----------------------------------------------------Main Yakup ------------------------------ */

main h1{
    width: 12%;
    margin: auto;
    font-weight: bold;
    font-family: var(--main-font);
    text-decoration: underline;
}

#categories{
    display: flex;
    justify-content: space-evenly;
}

#categories article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
}

#categories article button{
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
    width: 157px;
    height: 70px;
    border-radius: 44%;
    transform: translateY(-60px);
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background-color: var(--backgroundBody);
}

h1, h2{
    font-family: var(--main-font);
    font-weight: bold;
}

h3, p{
    font-family: var(--secondary-font);
}

/* -------------------------home pic & searchbar------------------------------ */
#landing-pic{
    width: 100%;
    height: auto;
    max-height: 964px;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image:url(img/home_pic.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: var(--backgroundBody);
    display: flex;
    align-items: center;
    border-radius: 60px;
    border: 5px solid;
    border-style: inset;
  } input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
} button{
    border: 0;
    border-radius: 60px;
    width: 40%;
    height: 90px;
    background: var(--buttonColor);
    font: var(--secondary-font);
    color: var(--backgroundBody);
    font-weight: bold;
    font-size: 20px;
}

::placeholder{
    color: lightgray;
}


/* ------------------------section Plat du Jour---------------------------- */


#separation{
    width: 60%;
    margin: 53px auto;

}

#plat-du-jour{
    margin-top: 53px;
   
} h1{
    font-size: 45px;
} h2{
    font-size: 18px;
} h3{
    font-size: 16px;
    color: gray;
}

#title{
    display: flex;
    flex-direction: column;
    transform: translate(165px);
}

#plat-pic{
display: flex;
justify-content: center;
margin-top: 1em;
}

/*-------------------------------SECTION ABOUT US--------------------------------------------- */

#about{
    display: flex;
    flex-direction: column;
}

#about h1{
    margin: 20px auto;
} p {
    text-align: left;
    margin: 20px auto;
} img{
    margin: 15px auto;
}

footer {
    background-color: var(--buttonColor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding-top: 80px;
    padding-bottom: 5px;
    font-family: var(--secondary-font);
}

footer a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .nav_links_footer {
    padding: 50px 0px 60px 50px;
    line-height: 1.8rem;
    font-size: 1.2rem;
}

footer .links_social_networks {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 15px;
}

footer .links_social_networks a {
    height: 50px;
    width: 50px;
}

footer #logo {
    margin: auto;
    padding: 10px 0px 90px 40px;
}

footer p {
    grid-column: 1/4;
    text-align: center;
    margin: auto;
}

footer #logo_copyright {
    height: 10px;
    width: 10px;
    padding: 0px 5px 0px 5px;
}
