* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background-color: var(--backgroundBody);
}

h1 {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-family: var(--main-font);
    font-weight: bold;
}

h3 {
    font-family: var(--secondary-font);
    font-size: larger;
}

nav a {
    font-size: larger;
}
p{
    font-family: var(--paragraph-font);
    font-weight: large;
}
/* ----------------------------------------------------Header ------------------------------------------------------ */

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--backgroundBody);
    border-bottom: 1px solid black;
}

header h1{
    font-size: 56px;
    margin-top: -27px;
    margin-bottom: -27px
    
}

#logobar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 3em;
}

#viteuf_logo{
    width: 8em;
    margin-right: 14em;
}

header hr {
    width: 90%;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}
/* ---------------------------------burger menu ------------------- */
.burger_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--buttonColor);
    padding: 11px 20px;
    border-radius: 50%;
}

.menu-toggle {
    font-size: 24px;
    color: black;
    cursor: pointer;
    display: none;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: var(--backgroundBody);
    font-size: 18px;
    font-family: --paragraph-font;
}


/* -------------------------home pic & searchbar------------------------------ */

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/home_pic.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

#landing-pic {
    width: 100%;
    height: auto;
    max-height: 964px;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: var(--backgroundBody);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
}

input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
}

button {
    border: 0;
    border-radius: 60px;
    width: 40%;
    height: 90px;
    background: var(--buttonColor);
    font: var(--secondary-font);
    color: var(--backgroundBody);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        background-color: var(--buttonColorHover)
    }

    &:active {
        background-color: var(--buttonColor);
        box-shadow: 0 5px #666;
        transform: translateX(4px);
    }
}

::placeholder {
    color: lightgray;
}

/* ---------------------------------------------------Categories ------------------------------ */

main>h1 {
    display: flex;
    justify-content: center;
    margin: 53px auto;
    font-weight: bold;
    font-family: var(--title-font);
}

#categories {
    display: flex;
    justify-content: space-evenly;
}

#categories article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
}

#categories article button {
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
    width: 210px;
    height: 70px;
    border-radius: 25px;
    transform: translateY(-60px);

    &:hover {
        background-color: var(--buttonColorHover)
    }

    &:active {
        background-color: Vvar(--buttonColor);
        box-shadow: 0 5px #666;
    }

}

#mood{
    scroll-margin-top: 300px;
}


/* ------------------------section Plat du Jour---------------------------- */


.separation {
    width: 60%;
    margin: 53px auto;
}

#plat-du-jour {
    display: flex;
    flex-direction: column;
    margin: 0 15vw;
}

#dish {
    font-size: 45px;
}

#author {
    font-size: 18px;
}

#cat {
    font-size: 16px;
    color: gray;
}

#nouille_pic {
    margin-top: 2em;
    height: 80%;
}

/*-------------------------------SECTION ABOUT US--------------------------------------------- */

#about_what{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin: 0 50px;
}

#about_what{
    grid-template-rows:  100px 250px 40px ;

}
#first-title{
    grid-column: span 3 / span 3;
    justify-self: center;
}
#desc1, #desc2, #desc3, .slider_card{
    grid-row-start: 2;
    border: 1px solid black;
    border-radius: 5%;
    margin: 0 1em;
    padding: 1em 1em;
    text-align: center;
    place-content: center;
    box-shadow: 10px 5px 5px var(--buttonColor);
    
}
#second-title{
    grid-column: span 3 / span 3;
    justify-self: center;
}
#about_who{
   display: flex;
   flex-direction: column;
   align-items: center;
    
} p{
    margin-top: 10px;
}

#team-pic{
    grid-column: span 3 / span 3;
    justify-self: center;
    width: 450px;
    height: 450px;
    margin-top: 32px
}


#about_who_smallscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#team_smallscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.team_info_about{
    border: 1px solid black;
    border-radius: 8%;
    margin: 2em 2em;
    padding: 1em 1em;
    text-align: center;
    place-content: center;
    box-shadow: 10px 5px 5px var(--buttonColor);
}


/* ----------------------------FOOTER------------------------------------------------------------- */

footer {
    background-color: var(--buttonColor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding-top: 60px;
    padding-bottom: 5px;
    font-family: var(--secondary-font);
    height: 40vh;
    margin-top: 50px
}

footer a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_links_footer {
    padding: 50px 0px 60px 50px;
    line-height: 1.8rem;
    font-size: 1.2rem;
} 

.nav_links_footer li:hover{
    font-weight: bold;
}

.links_social_networks {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 15px;
}

.links_social_networks a {
    height: 50px;
    width: 50px;
}

.social_logo:hover {
    transform: scale(1.1);
}

footer p {
    grid-column: 1/4;
    text-align: center;
    margin: auto;
}

#logo_copyright {
    width: 1.5em;
    padding: 0px 5px;
}

footer h1 {
    padding-left: 3em
}

#workinprogress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}